{% for contacts in form.contact_details %}
    <hr>
    <div class="form-group">
        {% if contacts["type"].errors %}
            <div class="errors">
                {% for error in contacts["type"].errors %}
                    <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {{ contacts["type"].label }}
        {{ contacts["type"](class="form-control") }}
    </div>
    <div class="form-group">
        {% if contacts["label"].errors %}
        <div class="errors">
            {% for error in contacts["label"].errors %}
                <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {{ contacts["label"].label }}
        {{ contacts["label"](class="form-control") }}
    </div>
    <div class="form-group">
        {% if contacts.value.errors %}
        <div class="errors">
            {% for error in contacts.value.errors %}
                <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {{ contacts.value.label }}
        {{ contacts.value(class="form-control") }}
    </div>
    <button class="btn btn-danger" type="submit" name="delete_item" value="contact_details,{{ contacts['id'].data }}">Delete this</button>
{% endfor %}
<hr>