{% extends "base.html" %}
{% block title %}Front Page{% endblock %}
{% block content %}
    <div>
    <p>Welcome to the popit editor. This is where we update data to the database.</p>
    <p>If you have noticed, this page is a bit bland. If you want a good way to look at MP and Organization please go
        to <a href="http://wakilrakyat.sinarproject.org/ms">reference site</a></p>
    <p>If you are a developer, you might be interested in the <a href="https://sinar-malaysia.popit.mysociety.org/api/v0.1">API</a> instead. You can find out the documentation at the <a href="http://popit.poplus.org/docs/api/">Popit site</a>. Be warned the api is being deprecated, we will update the page
    as we complete our API migrations.</p>
    <p>You can start looking at the data from organization and person link above.</p>
    <p>Editor area is for editor only. We will open up registration to be an editor to our database soon! Stay tune</p>
    </div>


{% endblock %}