{% for identifier in form.identifiers %}
    <hr>
    <div class="form-group">
        {% if identifier.identifier.errors %}
            <div class="errors">
                {% for error in identifier.identifier.errors %}
                    <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {{ identifier.identifier.label }}
        {{ identifier.identifier(class="form-control") }}
    </div>
    <div class="form-group">
     {% if identifier.scheme.errors %}
        <div class="errors">
            {% for error in identifier.scheme.errors %}
                <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {{ identifier.scheme.label }}
        {{ identifier.scheme(class="form-control") }}
    </div>
    <button class="btn btn-danger" type="submit" name="delete_item" value="identifiers,{{ identifier['id'].data }}">Delete this</button>
{% endfor %}
<hr>