{% extends "base.html" %}
{% block title %}{% if edit %}{{ data.name }}{% else %}Create New organization{% endif %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/typeaheadjs.css">

{% endblock %}
{% block content %}
    {% if data["organization_id"] %}
        <a href="/organizations/{{ data['organization_id'] }}" class="btn btn-default">Go to Organization</a>
    {% endif %}
    {% if data["person_id"] %}
        <a href="/persons/{{ data['person_id'] }}" class="btn btn-default">Go to Persons</a>
    {% endif %}
    <dl>
        <dt>Person<a href="/memberships/{{ entity_id }}/citations/person"><span class="badge">sources</span></a></dt>
        <dd>{{ data.person }}</dd>
        <dt>Person ID</dt>
        <dd>{{ data.person_id }}</dd>
        <dt>Organization</dt>
        <dd>{{ data.organization }}<a href="/memberships/{{ entity_id }}/citations/organizations"><span class="badge">sources</span></a></dd>
        <dt>Organization id</dt>
        <dd>{{ data.organization_id }}</dd>
        <dt>Post<a href="/memberships/{{ entity_id }}/citations/post"><span class="badge">sources</span></a></dt>
        <dd>{{ data.post }}</dd>
        <dt>Post ID</dt>
        <dd>{{ data.post_id }}</dd>
        <dt>Role<a href="/memberships/{{ entity_id }}/citations/role"><span class="badge">sources</span></a></dt>
        <dd>{{ data.role }}</dd>
        {% include "area_views.html" %}
        <dt>Start Date<a href="/memberships/{{ entity_id }}/citations/start_date"><span class="badge">sources</span></a></dt>
        <dd>{{ data.start_date }}</dd>
        <dt>End Date<a href="/memberships/{{ entity_id }}/citations/end_date"><span class="badge">sources</span></a></dt>
        <dd>{{ data.end_date }}</dd>
    </dl>

{% endblock %}