{% extends "base.html" %}
{% block title %}{{ data.name }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/typeaheadjs.css">

{% endblock %}
{% block content %}
    <div class="container">

        <a href="/organizations/{{ entity_id }}/posts" class="btn btn-default">Post In Organizations</a>
        <a href="/organizations/{{ entity_id }}/memberships" class="btn btn-default">Membership In Organizations</a>

        <div id="image"><img src="{{data.image }}" height="50%" width="50%"></div>
        <dl>
            <dt>Name <a href="/organizations/{{ entity_id }}/citations/name"><span class="badge">sources</span></a></dt>
            <dd>{{ data.name }}</dd>
            {% include "other_names_views.html" %}

            {% include "identifiers_view.html" %}

            {% include "area_views.html" %}
            <dt>Classification<a href="/organizations/{{ entity_id }}/citations/classification"><span class="badge">sources</span></a></dt>
            <dd>{{ data.classification }}</dd>
            <dt>Parent ID<a href="/organizations/{{ entity_id }}/citations/parent_id"><span class="badge">sources</span></a></dt>
            <dd>{{ data.parent_id }} </dd>
            <dt>Parent Org</dt>
            <dd>{{ data.parent }}</dd>
            <dt>Description<a href="/organizations/{{ entity_id }}/citations/description"><span class="badge">sources</span></a></dt>
            <dd>{{ data.description }}</dd>
            <dt>Founding Date<a href="/organizations/{{ entity_id }}/citations/founding_date"><span class="badge">sources</span></a></dt>

            <dd>{{ data.founding_date }} </dd>
            <dt>Dissolution Date<a href="/organizations/{{ entity_id }}/citations/dissolution_date"><span class="badge">sources</span></a></dt>
            <dd>{{ data.dissolution_date }} </dd>
            {% include "contact_details_view.html" %}
            {% include "links_views.html" %}

        </dl>
    </div>


{% endblock %}
