{% extends "base.html" %}
{% block title %}{% if edit %}{{ data.name }}{% else %}{{ data.name }}{% endif %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/typeaheadjs.css">

{% endblock %}
{% block content %}

    <a href="/persons/{{ entity_id }}/memberships" class="btn btn-default">Membership In Organizations</a>

    <div id="image"><img src="{{ data.image }}" width="50%" height="50%"/></div>
    <dl>
        <dt>Name<a href="/persons/{{ entity_id }}/citations/name"><span class="badge">sources</span></a></dt>
        <dd>{{ data.name }}</dd>
        {% include "other_names_views.html" %}
        {% include "identifiers_view.html" %}
        <dt>Email<a href="/persons/{{ entity_id }}/citations/email"><span class="badge">sources</span></a></dd></dt>
        <dd>{{ data.email }}</dd>
        <dt>Gender<a href="/persons/{{ entity_id }}/citations/gender"><span class="badge">sources</span></a></dt>
        <dd>{{ data.gender }}</dd>
        <dt>Birth Date<a href="/persons/{{ entity_id }}/citations/birth_date"><span class="badge">sources</span></a></dt>
        <dd>{{ data.birth_date }}</dd>
        <dt>Dead Date<a href="/persons/{{ entity_id }}/citations/death_date"><span class="badge">sources</span></a></dt>
        <dd>{{ data.death_date }}</dd>
        <dt>Summary<a href="/persons/{{ entity_id }}/citations/summary"><span class="badge">sources</span></a></dt>
        <dd>{{ data.summary }}</dd>
        {% include "contact_details_view.html" %}

    </dl>

    {% include "links_views.html" %}

{% endblock %}
