{% extends "base.html" %}
{% block title %}{% if edit %}{% if data %}{{ data.name }}{% endif %}{% else %}Create New organization{% endif %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/typeaheadjs.css">

{% endblock %}
{% block content %}
    <!--
        class PersonForm(BaseForm):
            name = StringField("Name")
            email = StringField("Email")
            gender = SelectField("Gender", choices=["Male", "Female"])
            birth_date = DateField("Birth Date")
            death_date = DateField("Death Date")
            summary = StringField("Summary")
            biography = TextAreaField("Biography")


        class PersonEditForm(PersonForm):
            person_id = StringField("Person ID")
    -->
    {% if entity_id %}
        <a href="/persons/{{ entity_id }}/memberships/create" class="btn btn-default">Create Membership In Organizations</a>
        <a href="/persons/{{ entity_id }}/memberships/edit" class="btn btn-default">Membership In Organizations</a>
    {% endif %}
    <form method="post" action="">
        {% if edit %}
            {% if form.id %}
                <div class="form-group">
                    {{ form.id.label }}
                    {{ form.id(readonly=true, class="form-control") }}
                </div>
            {% endif %}
        {% endif %}
        <div class="form-group">
            {{ form.image.label }}<a href="/persons/{{ entity_id }}/citations/image/edit"><span class="badge">sources</span></a>
            {{ form.image(class="form-control") }}
        </div>
        <div class="form-group">
            {% if form.name.errors %}
                <div class="errors">
                    {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.name.label }}<a href="/persons/{{ entity_id }}/citations/name/edit"><span class="badge">sources</span></a>
            {{ form.name(class="form-control") }}
        </div>
        {% if form.other_names %}
        <div class="form-inline">
            <div><b>Other Names</b></div>

            {% include "other_names.html" %}
        </div>
        {% endif %}
        {% if form.identifiers %}
        <div class="form-inline">
            <div><b>Identifiers</b></div>
            {% include "identifiers.html" %}
        </div>
        {% endif %}
        <div class="form-group">
            {% if form.email.errors %}
                <div class="errors">
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.email.label }}<a href="/persons/{{ entity_id }}/citations/email/edit"><span class="badge">sources</span></a>
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.gender.label }}<a href="/persons/{{ entity_id }}/citations/gender/edit"><span class="badge">sources</span></a>
            {{ form.gender(class="form-control") }}
        </div>
        <div class="form-group">
            {% if form.birth_date.errors %}
                <div class="errors">
                    {% for error in form.birth_date.errors %}
                        <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.birth_date.label }}<a href="/persons/{{ entity_id }}/citations/birth_date/edit"><span class="badge">sources</span></a>
            {{ form.birth_date(class="form-control") }}
        </div>
        <div class="form-group">
            {% if form.death_date.errors %}
                <div class="errors">
                    {% for error in form.death_date.errors %}
                        <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.death_date.label }}<a href="/persons/{{ entity_id }}/citations/death_date/edit"><span class="badge">sources</span></a>
            {{ form.death_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.summary.label }}<a href="/persons/{{ entity_id }}/citations/summary/edit"><span class="badge">sources</span></a>
            {{ form.summary(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.biography.label }}<a href="/persons/{{ entity_id }}/citations/biography/edit"><span class="badge">sources</span></a>
            {{ form.biography(class="form-control") }}
        </div>
        {% if form.contact_details %}
        <div>
            <div><b>Contact informations</b></div>
            {% include "contact_details.html" %}
        </div>
        {% endif %}
        {% if form.links %}
        <div>
            <div><b>Links</b></div>
            {% include "links.html" %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary" name="save" value="save">Save</button>
        {% if edit %}
        <button type="submit" class="btn btn-danger" name="delete" value="delete">Delete</button>
        {% endif %}
    </form>
{% endblock %}
{% block extra_script %}
    <script src="/static/typeahead.bundle.min.js"></script>
    <script src="/static/bloodhound.min.js"></script>
    <script>
    $(function(){
        var organizations = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace("name"),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "/search/organizations?name=%QUERY",
                wildcard: "%QUERY"
            },
            limit: 10
        });
        organizations.initialize();
        $("#parent").typeahead({
                    hint: true,
                    hightlight: true,
                    minLength: 2
                },
                {
                    displayKey: "name",
                    source: organizations.ttAdapter()
                }).on("typeahead:selected", function(obj, datum, name){
                    $("#parent_id").val(datum.id);
                    console.log(datum.id);
                });
        $('.tt-menu').css('background-color','#fff');
    });
    </script>
{% endblock %}