{% extends "base.html" %}
{% block title %}{% if edit %}{{ data.name }}{% else %}Create New organization{% endif %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/typeaheadjs.css">

{% endblock %}
{% block content %}
    <!-- TODO: Link back to entity-->

    <div class="container">
        <a href="/posts/edit/{{ entity_id }}">Edit This Post</a>
        <a href="/posts/{{ entity_id }}/memberships/create" class="btn btn-default">Create Membership In Post</a>

        <a href="/posts/{{ entity_id }}/memberships" class="btn btn-default">Membership In Post</a>
        <dl>
            <dt>Label</dt>
            <dd>{{ data.label }}</dd>
            <dt>Role</dt>
            <dd>{{ data.role }}</dd>
            {% include "area_views.html" %}
            <dt>Organization</dt>
            <dd>{{ data.organization }}</dd>
            <dt>Organization ID</dt>
            <dd>{{ data.organization_id }}</dd>
            <dt>Start Date</dt>
            <dd>{{ data.start_date }}</dd>
            <dt>End Date</dt>
            <dd>{{ data.end_date }}</dd>
        </dl>
    </div>

{% endblock %}
