{% extends "base.html" %}
{% block title %}{% if edit %}{% if data %}{{ data.name }}{% endif %}{% else %}Create New organization{% endif %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/typeaheadjs.css">

{% endblock %}
{% block content %}
    <!--
    class PostForm(BaseForm):
        label = StringField("Name")
        role = StringField("Role")
        organization = StringField("Organization")
        organization_id = StringField("Organization ID")
        start_date = StringField("Start Date")
        end_date = StringField("End Date")


    class PostEditForm(PostForm):
        post_id = StringField("Post Id")
    -->
    <a href="/posts/{{ entity_id }}/memberships/create" class="btn btn-default">Create Membership In Post</a>
    <a href="/posts/{{ entity_id }}/memberships/edit" class="btn btn-default">Membership In Post</a>
    <form method="post" action="">
        {% if edit %}
            {% if form.id %}
                <div class="form-group">

                    {{ form.id.label }}
                    {{ form.id(readonly=true, class="form-control") }}
                </div>
            {% endif %}
        {% endif %}
        <div class="form-group">
            {{ form.label.label }}<a href="/posts/{{ entity_id }}/citations/label/edit"><span class="badge">sources</span></a>
            {{ form.label(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.role.label }}<a href="/posts/{{ entity_id }}/citations/role/edit"><span class="badge">sources</span></a>
            {{ form.role(class="form-control") }}
        </div>
        <div><b>Area</b></div>
        {% include "area.html" %}
        <div class="form-group">
            {{ form.organization.label }}<a href="/posts/{{ entity_id }}/citations/organization/edit"><span class="badge">sources</span></a>
            {{ form.organization(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.organization_id.label }}
            {{ form.organization_id(class="form-control typeahead") }}
        </div>
        <div class="form-group">
            {{ form.start_date.label }}<a href="/posts/{{ entity_id }}/citations/start_date/edit"><span class="badge">sources</span></a>
            {{ form.start_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.end_date.label }}<a href="/posts/{{ entity_id }}/citations/end_date/edit"><span class="badge">sources</span></a>
            {{ form.end_date(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary" name="save" value="save">Save</button>
        {% if edit %}
        <button type="submit" class="btn btn-danger" name="delete" value="delete">Delete</button>
        {% endif %}
    </form>
{% endblock %}
{% block extra_script %}
    <script src="/static/typeahead.bundle.min.js"></script>
    <script src="/static/bloodhound.min.js"></script>
    <script>
    $(function(){
        var organizations = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace("name"),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "/search/organizations?name=%QUERY",
                wildcard: "%QUERY"
            },
            limit: 10
        });
        organizations.initialize();
        $("#organization").typeahead({
                    hint: true,
                    hightlight: true,
                    minLength: 2
                },
                {
                    displayKey: "name",
                    source: organizations.ttAdapter()
                }).on("typeahead:selected", function(obj, datum, name){
                    $("#parent_id").val(datum.id);
                    console.log(datum.id);
                });
        $('.tt-menu').css('background-color','#fff');
    });
    </script>
{% endblock %}