{% extends "base.html" %}
{% block title %}{% if edit %}{{ data.name }}{% else %}Create New organization{% endif %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/typeaheadjs.css">

{% endblock %}
{% block content %}
    <!-- TODO: Link back to entity-->

    <div class="container">

        <a href="/posts/{{ entity_id }}/memberships" class="btn btn-default">Membership In Post</a>
        <dl>
            <dt>Label<a href="/posts/{{ entity_id }}/citations/label"><span class="badge">sources</span></a></dt>
            <dd>{{ data.label }}</dd>
            <dt>Role<a href="/posts/{{ entity_id }}/citations/role"><span class="badge">sources</span></a></dt>
            <dd>{{ data.role }}</dd>
            {% include "area_views.html" %}
            <dt>Organization<a href="/posts/{{ entity_id }}/citations/organization"><span class="badge">sources</span></a></dt>
            <dd>{{ data.organization }}</dd>
            <dt>Organization ID</dt>
            <dd>{{ data.organization_id }}</dd>
            <dt>Start Date<a href="/posts/{{ entity_id }}/citations/start_date"><span class="badge">sources</span></a></dt>
            <dd>{{ data.start_date }}</dd>
            <dt>End Date<a href="/posts/{{ entity_id }}/citations/end_date"><span class="badge">sources</span></a></dt>
            <dd>{{ data.end_date }}</dd>
        </dl>
    </div>

{% endblock %}
